[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "contrib/fastText"]
	path = contrib/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "contrib/FunctionalPlus"]
	path = contrib/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "contrib/eigen"]
	path = contrib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/sanitizers-cmake"]
	path = contrib/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "contrib/incbin"]
	path = contrib/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest
[submodule "contrib/tinyxml2"]
	path = contrib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "contrib/program_options"]
	path = contrib/program_options
	url = https://github.com/boostorg/program_options.git
[submodule "contrib/icu"]
	path = contrib/icu
	url = https://github.com/unicode-org/icu.git
[submodule "contrib/icudata"]
	path = contrib/icudata
	url = https://github.com/ClickHouse-Extras/icudata.git
[submodule "contrib/tabulate"]
	path = contrib/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "contrib/frugally-deep"]
	path = contrib/frugally-deep
	url = https://github.com/alesapin/frugally-deep.git
[submodule "contrib/mimalloc"]
	path = contrib/mimalloc
	url = https://github.com/microsoft/mimalloc
