data/rawdicts/dict.opcorpora.conv.txt filter=lfs diff=lfs merge=lfs -text
data/corpuses/ud/ruscorpora.conll filter=lfs diff=lfs merge=lfs -text
data/models/disamb_model_50.json filter=lfs diff=lfs merge=lfs -text
data/models/morphorueval_cbow.embedding_50.bin filter=lfs diff=lfs merge=lfs -text
